@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a2c9db;
  --forground-buttons: #3883A8;
  --forground-buttons2: #fbff23;
  --foreground: #FFFFFF;
  --layout-bar-back: #FFA48C;
  --layout-bar-front: #FFE7E1;
  --layout-bar-selected: #FF724D;
  --title: #59A4C8;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: black;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  a:hover {
    opacity: 50%;
  }
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


#lineNumbers::-webkit-scrollbar {
          display: none;
        }